body{
    color: white;
    font-family: tahoma, arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

main{
    background-image: url("./imgs/background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}
.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40vw;
    margin-bottom: 0;
    height: 120px;
    background-color: #414149e5;
}

.logo{
    padding: 10px 0 0 0;
    height: 100px;
    width: 110px;
    margin: 0px 0 0 135px;
}

.header-nav{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 6vw; 
}

.header-nav a{
    color: #9ea3aa;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color .5s linear;
}

.header-nav a:hover{
    color: white;
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


.sobre h1{
    font-size: 36px;
    color: #cecece;
}

.sobre p{
    font-size: 16px;
    line-height: 2;
    color: #cecece;
}
